*{
  margin:0;
  font-family: system-ui;
  --main-color:rgb(59, 59, 66);
}
/* header */
header{
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #282828 23.5%,
        rgba(255, 170, 0, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #2c3539 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #282828 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #282828 0
      )
      0 0,
    linear-gradient(
        150deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(
        30deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
      #282828;
      background-size: 40px 60px;

}
.DivHeaderInside{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  color: white;
  text-transform: uppercase;
}
.RocketIMG{
  margin: auto 20px auto 0;
}
/* Footer */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  height: 30px;
  color: #797c7e;
}
/* main */
main{
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color:#1d1a1a;
}
.MainProfile{
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.glassmorphism{
height: inherit;
width: inherit;
border-radius: inherit;
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.profileContainer{
  width: 310px;
  height: 450px;
  background-color: var(--main-color) ;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 25px 25px inset;
}
.myProfileImg{
  border-radius: 50%;
  background-color: #282828;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, 
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  z-index: 1;
}
.profileAnimation{
  animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25%{
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.divImgH2{
  transform: translateY(-45px);
  color: whitesmoke;
  transition: all 1s ease-in-out;
}
.divProfileIMG:hover .divImgH2{
  background-color: transparent;
  transform: translateY(0);
}
.spanH2{
  transition: all 1s ease-in-out;
}
.divProfileIMG:hover .spanH2{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 130px;
  animation: aparecer 2s ease-out;
  animation-fill-mode: forwards;  
}
@keyframes aparecer{
  50%{
    background-color: transparent;
  }
  100% {
    background-color: rgb(36, 36, 121);
  }
}
.divBioProfile{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-direction:column;
  gap:10px;
  border-radius:15px;
  height:250px;
  width:280px;
  text-align:center;
  transform: translateY(-60px);
  text-transform:uppercase;
  color:whitesmoke
}
.TextShadow{
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}
.divBioProfile h3{
  font-size: medium;
}

/* button */
.buttonDownload{
  transform: translateY(-20px);
  display: flex;
  align-items: center;
  width: 172px;
  height: 50px;
  border-radius: 7px;
  padding:  0 0 0 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: 600;
  font-size: 15px;
  background-color: #978dbb;
  transition: all 0.3s ease-in-out;
}

.buttonDownload__text{
  background-color: #978dbb;
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 70%;
  padding:  0 10px 0 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
  transition: all 0.3s ease-in-out;
}
.buttonDownload__icon{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #50496d;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: width 0.3s ease-in-out, background-color 1s ease-out,border-radius 0.4s ease-in-out;
  will-change: auto;
  
}
.buttonDownload:hover{
  box-shadow: rgb(173, 175, 175) 0px 20px 30px -10px;
}
.buttonDownload:hover .buttonDownload__icon {
  height: inherit - 2;
  width: 100%; 
  fill: blue;
  border-radius: 4px;
  
}
.buttonDownload:hover .buttonDownload__icon svg{
  filter: url(#glow);
  
}
.buttonDownload:hover .buttonDownload__text{
  width: 0%;
  padding:  0;  
}
.spanLeter{
  display: none;
  width: 6ch;
  white-space: nowrap;
}
/* button animation */

.buttonDownload__iconAnimation{
  width: 100%;
  animation: colorChange 1s infinite alternate;
}
.animationText{
  width: 0%;
  padding: 0;
}
.spanAnimation{
  display: block;
  color: rgb(9, 255, 0);
  animation: typing 1s infinite alternate;
  overflow: hidden;
}
@keyframes colorChange {

  0%{fill: blue;}
  100%{fill: rgb(9, 255, 0);}
}
@keyframes typing {
  0%{width: 0;}
  100%{width: 10ch;}
  
} 
/* Social networks */
.socialNetworksDiv{
  transform: translateY(20px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #282828;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.socialNetworksDiv img{
border-radius: 50%;
background-color:white;
margin: auto;
width: 40px;
height: 40px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px,rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;;
transition: all 0.25s ease-out;
}
.socialNetworksDiv .github:hover{
  box-shadow:whitesmoke 0px 3px 15px;
}
.socialNetworksDiv .linkedin:hover{
  box-shadow:rgb(12, 117, 255) 0px 3px 15px;
}

/* Right section */
.sectionRight{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 700px;
  padding: 10px;
  background-color: var(--main-color);
  height: 600px;
  border-radius: 15px;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 16px 3px inset;
}

.SectionDivisior{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.themedDivs{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 10px;
  height: max-content;
  
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.082) 0px 4px 12px;
}

/* TESTING */
.DivThreeNewest{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 400px;
  background-color: #E3E4DB;
  color: #0000ffc4;
}

.divNewGeneBorder::before{
  content: "";
  height: 60px;
  background-color: #5D3FD3;
  width: 1px;
  box-shadow: 3px 0 10px 2px #0000ff8a;
}
.ColorLan-javascript{
  color: #ffa500;
}
.ColorLan-csharp{
  color: #8c00ff;
}
.ColorLan-typescript{
  color: #008000;
}
.ColorLan-html{
  color: #ff0000;
}

/* responsive 1100 */

/* Loading ... */
.divLoading{ 
  width: inherit;
  height: inherit;
  position: relative;
  float: left;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
}
@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5D3FD3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
 }
 
 .three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
 }
 
 .three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
 }
 
 .three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
 }
 
 .three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
 }
 
 .three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
 }
 
 .three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite
     calc(var(--uib-speed) * -0.15) ease-in-out;
 }
 
 .three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
 }
 
 .three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
 }
 
 @keyframes spin78236 {
  0% {
   transform: rotate(0deg);
  }
 
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes wobble1 {
  0%,
   100% {
   transform: translateY(0%) scale(1);
   opacity: 1;
  }
 
  50% {
   transform: translateY(-66%) scale(0.65);
   opacity: 0.8;
  }
 }
 
 @keyframes wobble2 {
  0%,
   100% {
   transform: translateY(0%) scale(1);
   opacity: 1;
  }
 
  50% {
   transform: translateY(66%) scale(0.65);
   opacity: 0.8;
  }
 }
 
/* Div Future */
.iconStyleFuture{
  height: 50px;
  width: 50px;
}
.divFutureProy{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  
}
.divContainerFutPro h2{
  text-transform: uppercase;
  margin-bottom: 10px;
}
.divSeparadores{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.divSeparadores p{
  text-transform: uppercase;
  font-size: larger;
  font-weight: 500;
}

/* h1 principal*/
.staticDivH1{
  position: absolute;
  transform: translateY(-32px) translateX(270px);
}
.H1estatico{
  width: max-content;
  position: absolute;
  left: 0;
  font-size: 50px;
}
.PH1estatico{
  font-weight: 700;
  position: absolute;  
  transform: translateX(20px);
  font-size: 50px;
}
/* other social media */
.color-gmail{
  --color-background: rgba(255, 0, 0, 0.830);
  --color-shadow: red 0px 2px 8px 1px;
}
.color-instagram{
  --color-background: rgba(255, 0, 212, 0.83);
  --color-shadow: rgb(247, 0, 255) 0px 2px 8px 1px;
}
.aOtherSocialNet{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(211, 211, 211);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 1px;
  transition: 0.50s;
  will-change: auto;
}
.aOtherSocialNet img{
  transition: 0.50s;
  will-change: auto;
}
.aOtherSocialNet:hover{ 
  background-color: var(--color-background);
  box-shadow: var(--color-shadow)
}
.aOtherSocialNet:hover img{
  filter: invert(1);
}
.divOtherSocialNet{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  transform: translateY(-10px);
}
@media (max-width:1100px) {
  header{
    justify-content: space-between;
  }
  main{
    flex-direction: column;
    justify-content:normal;
    height: 1950px;    
    gap: 100px;
  }
  .DivHeaderInside{
    width: 230px;
  }
 .DivHeaderInside h2{
  font-size: 17px;
 } 
 .RocketIMG{
  margin: auto 0;
 }
 /* main */
 .MainProfile{
  gap: 10px;
  flex-direction: column;
 }
 .H1estatico{  
  font-size: 23px;
}
.PH1estatico{  
  font-size: 23px;
}
.staticDivH1 {
  transform: translateY(-15px) translateX(138px);
}
.sectionRight{
  flex-direction: column;
  gap: 10px;  
  width: max-content;
  padding: 0px;
  height: max-content;
}
.themedDivs{
  padding: 0;
}
/* footer */
footer h3{
  font-size: 10px;
}
}

/* dark mode */

@media (prefers-color-scheme: dark) {
  
}
